/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Put your name here
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */  
@import url('normalize.css');   
/* 1.2 Google Font Import */    
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

html {
    box-sizing: border-box;
   }
   
   *, *:before, *:after{
    box-sizing: inherit;
   }
   body{
    font-family: helvetica, verdana, sans-serif;
    font-size: 20px;
    display:flex;
    flex-direction: column;
  }
   h1
   h2
   h3
   h4
   h5
   h6 {
       font-family: sansita, Eurostyle, sans-serif;
   }
   
   .tile {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
  
  #summary{
    overflow-x:scroll;
    overflow-y: hidden;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  #temp li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
  }
   ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

nav ul li { 
    display: inline-block; 
    list-style: none; 
  }
  

  footer{
    margin-bottom: 2em;
   }

   #site-brand {
    position: static;
    font-size: 2em;
    font-weight: 600;
  }


  .top{
    display: flex-flow;
  }
 
  .k{
    height: -10px;
  }

  .logo{
    height: 40px;
    width: 40px;
  }

  
  #zip{
    font-size: 15px;
  }
  dd{
    display: flex;  
    }
    dt{
      display: flex;  
      }
  dl {
    display: flex;  
    }

    #dial {
      height: 150px;
      width: 150px;
      background: no-repeat center/85% url('/weather-images/wind-pointer.png');
      z-index: 100;
      margin: -.6em auto 0;
     }

     #curWeather {
      background-size: cover;
     }
     
     /* Background pictures for summary */
     .clear {
      background-image: url("/weather-images/clear\(small\).jpg");
     }

     .rain {
       background-image: url("/weather-images/rain\(small\).jpg")
     }

     .snow {
       background-image: url("/weather-images/snow\(small\).jpg")
     }

     .fog {
       background-image: url("/weather-images/fog\(small\).jpg")
     }

     .cloud {
       background-image: url("/weather-images/clouds\(small2\).jpg")
     }

/***************************************************
*  3. Mobile First Styles
****************************************************/
nav {
  bottom: 0;
  left: 0;
  order:2;
  background-color:#0e89d5;
}

#locoinfo{
  font-size: .5em;
}



#tile{
  display: flex;
  flex-direction: column;
}

#curWeather {
  background-size: cover;
 }
 
 /* Background pictures for summary */
 .clear {
  background-image: url("/weather-images/clear\(small\).jpg");
 }

 .rain {
   background-image: url("/weather-images/rain\(small\).jpg")
 }

 .snow {
   background-image: url("/weather-images/snow\(small\).jpg")
 }

 .fog {
   background-image: url("/weather-images/fog\(small\).jpg")
 }

 .cloud {
   background-image: url("/weather-images/clouds\(small2\).jpg")
 }

 /***************************************************
*  4.  Large Screen Styles (Media Queries begin here)
****************************************************/
@media screen and (min-width: 760px){
  #page-Header{
      font-size: 5em;
  }
  nav{
    order: 0;
}
#curWeather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

#curWeather section{
min-width: 33%;
}

#locoinfo{
  justify-content: flex-start;
        font-size: 1.2em;
}

#wind{
  justify-content: flex-start;
        font-size: 1.2em;
}
  
  
  #curWeather {
    background-size: cover;
   }
   
   /* Background pictures for summary */
   .clear {
    background-image: url("/weather-images/clear\(small\).jpg");
   }
  
   .rain {
     background-image: url("/weather-images/rain\(small\).jpg")
   }
  
   .snow {
     background-image: url("/weather-images/snow\(small\).jpg")
   }
  
   .fog {
     background-image: url("/weather-images/fog\(small\).jpg")
   }
  
   .cloud {
     background-image: url("/weather-images/clouds\(small2\).jpg")
   }
  }